header {
    margin-top: 20px;
}

section {
    margin-top: 50px;
}

footer {
    padding: 20px 0px;
}

ul {
  padding-left: 15px;
}

.header-img {
    align-content: center;
    text-align: center;
}